:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.2rem;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  padding: 1rem;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
} 

h1, h2, h3 {
  line-height: 1.1;
  margin: 0;
  text-wrap: balance;
}

p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-color: #666;
  transition: border-color 0.25s;
}
button:hover {
  cursor: pointer;
  border-color: 1px solid #fff;
  background-color: #333;
  @media (prefers-color-scheme: light) {
    border-color: #000;
    background-color: #fff;
  }
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  color: #aaa;
  border-color: #aaa;
  cursor: not-allowed;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  padding: 2em;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #eee;
  }
}

input, select, textarea, button, .back-link {
  padding: 0.75rem 1.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #1a1a1a;
  @media (prefers-color-scheme: light) {
    background-color: #f9f9f9;
  }

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}
